@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
}

.bar{
    transform: scale(0.4);
    aspect-ratio: 2/1;
}

.pie{
    transform: scale(0.3);
    aspect-ratio: 1/1;
}